/*HEADER*/
.header {
  padding: .5rem;
  border-style: solid;
  background-color: #9CB6FF;
  box-shadow: 0 0 5px;
  display: flex;
}
.logo {
  height: 3rem;
  width: 4rem;
}
.main-menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.menu-title {
 display: none;

}
.menu-figure {
  display: none;
}

.menu-list {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  margin-right: 2rem;
}
.menu-item {
  font-size: 1.5rem;
  font-weight: bold;
}
/*MAIN*/
.body {
  background-color: #3F65CC;
}
.main {
  max-width: 80%;
  min-height: 30rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  background-color: white;
  padding: 1.5rem 0;
}
.link {
  color:#3F65CC;
}
.link2 {
  color:#3F65CC;
}
/*limpeza*/
#colorBlindSVG {
  display: none;
}
#blockColorblindContent {
  display: none;
}
/*MOBILE*/
@media (max-width: 68rem) {
  .main {

    padding: 2rem;

  }
}

@media (max-width: 70rem) {
  .menu-title {

    color:#283F80;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    display: block;
  }

  .menu-figure {
    display: flex;
    flex-direction: row-reverse;
  }

  .menu-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    border-style: solid;
    border-width: .1rem;
    border-color: #9CB6FF;
    box-sizing: border-box;
  }
  .in-menu-image {
    width: 4rem;
    height: 4rem;
  }
  /*HOVER*/
  .sidebar {
    position: absolute;
    width: 15rem;
    margin-top: .5rem;
    top: -100%;
    display: block;
    background-color: #4e5b80;
    box-shadow: 0 0 10px;
  }
  .sidebar-list{
    width: 90%;
    margin: 0 auto;
  }
  .sidebar-item{
    background-color: white;
    margin: 1rem 0;
    width: 100%;
    height: 10rem;
  }
  .sidebar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-decoration: none;
    color: #3F65CC;
    font-weight: bold;
  }
  .sidebar-title {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
  }
  .menu-image:hover + .sidebar{
    top: 0%;
    transition: all 1s;
  }
  .sidebar:hover {
    top: 0%;
    transition: all 1s;
  }
  /**/

  .menu-list {
    display: none;
  }

  .main {
    padding: 1rem;
  }
}