/*Fonte*/
.aluno,.title-index,.nome-aluno,.link-categorias {
  font-family: 'Merriweather', serif;
}
.descricao-aluno,.descricao-categorias {
  font-family: 'Montserrat', sans-serif;
}
/* index.html */
/*APRESENTACAO*/
.aluno {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size:1.8rem;
  color:#283F80;
}
.title-index {
  font-size:2.5rem;
  font-weight: bold;
  color:#4F7EFF;
  margin-bottom: 1.5rem;
}
.imagem-aluno {
  width: 30rem;
  box-shadow: 0 0 10px;
}
.nome-aluno {
  font-weight: bold;
  margin-top: .5rem;
  margin-bottom: 1rem;
}
.descricao-aluno {
  font-size:1rem;
  color:#283F80;
  max-width: 80%;
}
/*LINKS PARA AS CATEGORIAS*/
.categorias {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}
.box-categorias {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin: 1rem auto;
  padding: 0 1rem;
}
.link-categorias {
  font-size:1.5rem;
  font-weight: bold;
}
.descricao-categorias{
  max-width: 20rem;
  font-size:1rem;
  color:#283F80;
  margin-left: 2rem;
}

@media (max-width: 68rem) {
  .box-categorias {
    width: 100%;
    height: 15rem;
  }

  .descricao-categorias{
  font-size:2.5rem;
 
  }

  .link-categorias {
  font-size:2.5rem;
  }

  .descricao-aluno {
  font-size:2rem;
  }

  .title-index {
  font-size:4rem;
  }

  .aluno {
  font-size:3rem;
  
}
}
